.edit-datails {
    margin-top: 25px;
    width: 1182px;
    height: 508px;
    /* background-color: antiquewhite; */
}

.edit-form {
    display: flex;
    gap: 30px;

}

.edit-detail {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 68px;
    margin-bottom: 20px;
}

.edit-detail label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    color: #000000;
}

.edit-detail input, select {
    padding: 3px;
    margin-top: 5px;
    height: 47.75px;
}

.edit-detail-large {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 156px;
    margin-bottom: 20px;
}

.edit-detail-large label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    color: #000000;
}

.edit-detail-large textarea {
    padding: 3px;
    margin-top: 5px;
    height: 353.75px;
    resize: none;
}

.edit-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    gap: 30px;
    margin-bottom: 20px;
}

.edit-details-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}