@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 52px;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;

  color: #000000;
}

.blue-button {
  width: 120px;
  height: 48px;
  background: #833AE0;
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
}

.grey-button {
  width: 120px;
  height: 48px;
  background: #E1E1E1;
  border: none;
}